<div class="bia">
    <div class="my-8">
        <div class="mx-auto mb-4">
            <img class="block mx-auto"
                src="https://canvas.bham.ac.uk/courses/30467/files/5950487/download?wrap=1"
                alt="Assess Your Academic English Banner"
                data-api-endpoint="https://canvas.bham.ac.uk/api/v1/courses/30467/files/5950487"
                data-api-returntype="File" />
        </div>

        <div style="background-color: #605270;" class="w-full mx-auto mb-8 py-4 text-white">
            <p class="text-center text-2xl">
                INSESSIONAL ENGLISH - ASSESS YOUR ACADEMIC ENGLISH!
            </p>
        </div>

        <div class="w-full mx-auto mb-16">
            <div class="bg-teal-lightest border-t-4 border-teal rounded-b text-teal-darkest px-4 py-3 mb-8 shadow-md" role="alert">
                <p class="font-bold mb-4 text-lg">Welcome to Assess Your Academic English!</p>
                <p class="mb-2">We recommend using Google Chrome or Firefox when using this module, or adjust your cookie settings if using Internet Explorer.</p>
                <p class="mb-2">Please watch the video below for an introduction to the course.</p>
                <div class="flex items-start">
                    <img
                        src="https://static.thenounproject.com/png/7213-200.png"
                        alt="Headphones"
                        width="20" height="20" />
                    <p class="ml-3">You will need headphones or speakers in this module</p>
                </div>
            </div>
            <img
                class="mx-auto block w-full"
                src="https://canvas.bham.ac.uk/courses/30467/files/5949381/preview"
                alt="video-placeholder.jpg"
                data-api-endpoint="https://canvas.bham.ac.uk/api/v1/courses/30467/files/5949381"
                data-api-returntype="File" />
        </div>

        <div class="flex w-full mx-auto mb-8">
            <a class="flex-1 m-2 p-4 text-center bg-blue hover:bg-blue-light text-white font-bold text-lg border-b-8 border-blue-dark hover:border-blue rounded"
                style="text-decoration: none;" href="https://canvas.bham.ac.uk/courses/30467/pages/menu" data-api-endpoint="https://canvas.bham.ac.uk/api/v1/courses/30467/pages/menu"
                data-api-returntype="Page">
                I have self-enrolled. I do not want my quiz/task results shared with my department.
            </a>
            <a class="flex-1 m-2 p-4 text-center bg-blue hover:bg-blue-light text-white font-bold text-lg border-b-8 border-blue-dark hover:border-blue rounded"
                style="text-decoration: none;" href="https://canvas.bham.ac.uk/courses/30467/modules/items/1024196">
                My department
                has instructed me to do this assessment. I know that the quiz/task results may be shared with my department.
            </a>
        </div>
    </div>
</div>

<div class="content-box">
    <div class="grid-row" style="color: #ffffff; font-size: 1.25em; margin-top: 10px; margin-bottom: 10px;">
        <div class="col-xs-12 col-lg-6" style="padding-top: 12px;">
            <div style="height: 100%; padding-bottom: 5px; background-color: #6686a3;">
                <div style="padding: 1em; margin-left: 10px; display: inline-block;">
                    <p>If you have questions:</p>
                    <p>
                        Contact your department if you are not sure
                        whether this module is optional or mandatory.
                    </p>
                    <p>
                        If you would like to discuss your feedback in the module,
                        you can make a 1:1 appointment with a BIA tutor.
                    </p>
                    <p>
                        If there are any technical problems using the tasks (if your feedback does not appear) please contact
                        the BIA eLearning assistant: bia-elearn@contacts.bham.ac.uk
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6" style="margin-top: 12px;">
            <div style="height: 100%; background-color: #6686a3;">
                <div style="padding: 1em; margin-left: 10px; display: inline-block;">
                    <span style="background-color: #666699;">&nbsp;Pic Richard &nbsp; Pic Ossama</span>
                </div>
                <div style="padding: 1em; margin-left: 10px; display: inline-block;">
                    This module was written by Richard Nickalls
                    and Ossama Edbali at the University of Birmingham's International academy with financial support from
                    the HEFI Educational Enhancement Fund.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-12" style="margin-top: 12px;">
            <p style="padding: 14px 1em; text-align: center; color: #ffffff; background-color: #394b58;">
                For Canvas related technical support please see the
                24/7
                <img src="https://canvas.bham.ac.uk/courses/29939/files/5017953/download" alt="Help Icon.png" width="64" height="64" data-api-returntype="File" data-api-endpoint="https://canvas.bham.ac.uk/api/v1/courses/29939/files/5017953"/>
                icon on the left-hand navigation.
            </p>
        </div>
    </div>
</div>

<table style="width: 100%; border-collapse: collapse; border: none;">
    <tbody>
        <tr>
            <td style="width: 100%;">
                <table class="uob-box">
                    <tbody>
                        <tr>
                            <td>Canvas is the Virtual Learning Environment (VLE) used here at University of Birmingham. It&rsquo;s
                                similar to other VLEs that you may have used in other institutions.&nbsp;For an introduction
                                on how to use Canvas, please join the <a href="https://canvas.bham.ac.uk/courses/21228" target="_blank"
                                    rel="noopener">Canvas for Students course</a>. You can complete the course in full or dip
                                in and out when you need the information.&nbsp;You can also read more on how to use Canvas
                                via the <a href="https://guides.instructure.com/m/4212" target="_blank" rel="noopener">Canvas
                                    Student Guide</a>.</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
